**/.idea/
**/.project/
**/.settings/
**/bin/
**/build/
**/*.bak
**/*.iml
**/hs_err_pid*.log
**/pom.xml.*
**/rebel.xml
**/target/
**/node_modules/
**/node/
**/dist/
**/dependency-reduced-pom.xml
**/winery-debug.log
org.eclipse.winery.frontends/app/tosca-management/src/assets/built-codeEdit15_1/
!org.eclipse.winery.frontends/app/workflowmodeler/src/app/components/node
!org.eclipse.winery.frontends/app/topologymodeler/src/app/node
Dockerfile
