root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = false

[*.java]
indent_size = 4

[*.sh]
end_of_line = lf

[*.tag]
indent_size = 4

[*.tld]
indent_size = 4

[*.xml]
indent_size = 4
