dist: bionic
sudo: required
language: java
jdk:
  - openjdk8
  - openjdk12
cache:
  directories:
    - $HOME/.m2
before_install:
  - npm install -g ganache-cli
install:
  - mvn install -DskipTests=true -Dmaven.javadoc.skip=true -B -V -P java
