<nav class="navbar navbar-light bg-faded">
  <form class="form-inline">
    <button class="btn btn-sm align-middle btn-success" type="button" style="margin: 2px"
            (click)="showSaveAlert()">Save
    </button>

    <div class="btn-group" data-toggle="buttons" style="margin-left: 4px">
      <button
        class="btn btn-sm align-middle btn-secondary"
        type="button"
        id="layout"
        (click)="toggleButton($event)">
        Layout
      </button>
      <button
        class="btn btn-sm align-middle btn-secondary"
        type="button"
        id="alignh"
        (click)="toggleButton($event)">
        Align-h (|)
      </button>
      <button
        class="btn btn-sm align-middle btn-secondary"
        type="button"
        id="alignv"
        (click)="toggleButton($event)">
        Align-v (―)
      </button>
    </div>
    <div class="btn-group" data-toggle="buttons" style="margin-left: 4px">
      <button
        class="btn btn-sm align-middle btn-secondary"
        type="button"
        id="ids"
        (click)="toggleButton($event)"
        [style.background-color]="getStyle(navbarButtonsState.buttonsState.idsButton)">
        Ids
      </button>
      <button
        class="btn btn-sm align-middle btn-secondary"
        type="button"
        id="types"
        (click)="toggleButton($event)"
        [style.background-color]="getStyle(navbarButtonsState.buttonsState.typesButton)">
        Types
      </button>
      <button
        class="btn btn-sm align-middle btn-secondary"
        type="button"
        id="properties"
        (click)="toggleButton($event)"
        [style.background-color]="getStyle(navbarButtonsState.buttonsState.propertiesButton)">
        Properties
      </button>
      <button
        class="btn btn-sm align-middle btn-secondary"
        type="button"
        id="deploymentArtifacts"
        (click)="toggleButton($event)"
        [style.background-color]="getStyle(navbarButtonsState.buttonsState.deploymentArtifactsButton)">
        Deployment Artifacts
      </button>
      <button
        class="btn btn-sm align-middle btn-secondary"
        type="button"
        id="requirementsCapabilities"
        (click)="toggleButton($event)"
        [style.background-color]="getStyle(navbarButtonsState.buttonsState.requirementsCapabilitiesButton)">
        Requirements & Capabilities
      </button>
      <button
        class="btn btn-sm align-middle btn-secondary"
        type="button"
        id="policies"
        (click)="toggleButton($event)"
        [style.background-color]="getStyle(navbarButtonsState.policiesButton)">
        Policies
      </button>
      <button
        class="btn btn-sm align-middle btn-secondary"
        type="button"
        id="targetLocations"
        (click)="toggleButton($event)"
        [style.background-color]="getStyle(navbarButtonsState.targetLocationsButton)">
        Target Locations
      </button>
    </div>
    <button class="btn btn-sm align-middle btn-secondary" type="button" style="margin-left: 4px">Print View</button>
    <div class="btn-group" style="margin-left: 4px" dropdown>
      <button dropdownToggle type="button" class="btn btn-sm btn-secondary align-middle dropdown-toggle">
        Other <span class="caret"></span>
      </button>
      <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li role="menuitem"><a class="dropdown-item" href="#">Complete Topology</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Export CSAR</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">About</a></li>
      </ul>
    </div>
  </form>
</nav>
