/*
.old-navbar-style{
  padding: 5px;
}
.old-button-style{
  background-image : linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
  border : 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  padding: 6px 12px;
}

.old-button-style:hover {
  background-image : linear-gradient(to bottom, #e0e0e0 0%, #e0e0e0 100%);
  background-color: #e0e0e0;
  border-color:  #989898;
}

.old-save-button-style{
  border-color: #3e8f3e;
  background-image: linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  padding: 6px 12px;
}

.old-save-button-style:hover {
  background-image: linear-gradient(to bottom, #419641 0%, #419641 100%);
  background-color: #419641;
  border-color:  #4d744d;
}

.old-is-active {
  background-image : linear-gradient(to bottom, #bcbcbc 0%, #e0e0e0 100%);
  border-color: #dbdbdb !important;
  webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);

}
*/
