<div id="NTPropertiesView"
     class="sidebar-root"
     style="display: block;">
    <div id="nodeTemplateInformationSection" style="padding: 1em">
        <div [ngSwitch]="selectedPlugin">
            <div *ngSwitchCase="researchPluginTypes.REFINEMENT">
                <winery-refinement *ngIf="refiningType; else elseBlock"
                                   [refinementType]="refiningType"></winery-refinement>
                <ng-template #elseBlock> Error Refining Type not set</ng-template>
            </div>
            <winery-problem-detection
                *ngSwitchCase="researchPluginTypes.PROBLEM_DETECTION"></winery-problem-detection>
            <winery-enricher *ngSwitchCase="'ENRICHER'"></winery-enricher>
            <winery-edmm-transformation-check
                *ngSwitchCase="researchPluginTypes.EDMM_TRANSFORM"></winery-edmm-transformation-check>
            <winery-group-view *ngSwitchCase="researchPluginTypes.GROUP_VIEW"></winery-group-view>
            <winery-manage-participants
                *ngSwitchCase="researchPluginTypes.MNG_PARTICIPANTS"></winery-manage-participants>
            <winery-placeholder-substitution
                *ngSwitchCase="researchPluginTypes.PLACEHOLDER_SUBSTITUTION"></winery-placeholder-substitution>
            <winery-instance-model
                *ngSwitchCase="researchPluginTypes.INSTANCE_MODEL_REFINEMENT"></winery-instance-model>
            <winery-split-match-topology
                *ngSwitchCase="researchPluginTypes.SPLIT_MATCH"></winery-split-match-topology>
        </div>
        <button
            class="btn btn-secondary btn-sm btn-block align-middle" type="button"
            style="margin-top: 1em"
            (click)="closeSidebar()">Close
        </button>
    </div>
</div>
