<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%line %method - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>winery-debug.log</file>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%line %method - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.eclipse.winery" level="TRACE"/>
	<logger name="org.eclipse.winery.repository.export.TOSCAExportUtil" level="TRACE"/>
	<logger name="org.eclipse.winery.repository.export.CSARExporter" level="TRACE"/>
	<logger name="org.eclipse.winery.repository.backend.filebased.GitBasedRepository" level="TRACE"/>
	<logger name="org.eclipse.winery.repository.importing.CSARImporter" level="TRACE"/>
	<logger name="org.eclipse.winery.repository.Utils" level="TRACE"/>

	<logger name="org.apache.http" level="WARN"/>
	<logger name="org.eclipse.jetty" level="WARN"/>
	<logger name="org.apache.catalina.core.ApplicationDispatcher" level="SEVERE"/>

	<root level="TRACE">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>
