<div id="{{ namespace | urlEncode | urlEncode }}/{{ componentId }}"
     class="entityContainer {{ resourceType }}"
     routerLink="{{ namespace | urlEncode | urlEncode }}/{{ componentId }}">
    <div class="left">

    </div>
    <div class="center">
        <div class="informationContainer">
            <div class="name">{{ componentId }}</div>
            <div class="namespace">{{ namespace }}</div>
        </div>
        <div class="buttonContainer">
            <a href="" class="exportButton"></a>
            <a href="" class="editButton"></a>
            <a href="" class="deleteButton"></a>
        </div>
    </div>
    <div class="right">

    </div>
</div>
