<div class="top" [class.twolines]="needTwoLines">
    <div class="informationContainer">
        <div id="component_name" class="name editable editable-click">
            {{ selectedComponentName }}
        </div>
        <div id="component_namespace" class="namespace editable editable-click">
            {{ selectedNamespace }}
        </div>
    </div>
    <div class="managementButtons">
        <button class="btn btn-danger">Delete</button>
        <button class="btn btn-info">XML</button>
        <button class="btn btn-info">CSAR</button>
    </div>
    <div class="subMenu">

        <a *ngFor="let item of subMenu"
           class="styledTabMenuButton styledTabMenuButton2ndlevel"
           [class.selected]="item === selectedTab"
           [routerLink]="['./' + item | lowercase | removeWhiteSpaces ]"
           (click)="selectedTab = item">
            <div class="left"></div>
            <div class="center">{{ item }}</div>
            <div class="right"></div>
        </a>
    </div>
</div>
