body {
  width: 1000px;
  background: #eaeaea;
}

#header {
  width: 100%;
  height: 87px;
  background-repeat: no-repeat;
  background-image: url('/src/assets/img/header_background.png');
  postion: relative;
}

div#mainMenuContainer {
  height: 28px;
  position: absolute;
  top: 38px;
}

#showabout {
  width: 100%;
  height: 43px;
}

.orderRight {
  float: right;
}

a.styledTabMenuButton {
  margin-bottom: 3px;
  float: left;
}

a.styledTabMenuButton > div {
  height: 28px;
  float: left;
}

a.styledTabMenuButton > div.left {
  width: 19px;
}

a.styledTabMenuButton > div.center {
  line-height: 29px;
  text-decoration: none;
  font-family: arial, sans-serif;
  color: #787878;
  font-size: 14px;
  text-shadow: 1px 1px 0 white;
  padding-left: 5px;
}

a.styledTabMenuButton > div.right {
  width: 29px;
}

a.styledTabMenuButton.selected > div.left, a.styledTabMenuButton:hover > div.left {
  background: url('/src/assets/img/styledTabMenuButtonLeft.jpg');
  width: 19px;
}

a.styledTabMenuButton.selected > div.center, a.styledTabMenuButton:hover > div.center {
  background: url('/src/assets/img/styledTabMenuButtonCenter.jpg');
}

a.styledTabMenuButton.selected > div.right, a.styledTabMenuButton:hover > div.right {
  background: url('/src/assets/img/styledTabMenuButtonRight.jpg');
  width: 29px;
}

