<div id="header" class="header">
  <div id="showabout">
    <button class="btn btn-default btn-xs orderRight" type="button" (click)="showAbout()">about</button>
  </div>
  <nav id="mainMenueContainer">
    <a class="styledTabMenuButton"
       [routerLink]="['/servicetemplates']"
       [class.selected]="this.router.isActive('servicetemplates')"
       >
      <div class="left"></div>
      <div class="center">Service Templates</div>
      <div class="right"></div>
    </a>
    <a class="styledTabMenuButton"
       [routerLink]="['/nodetypes']"
       [class.selected]="this.router.isActive('nodetypes')">
      <div class="left"></div>
      <div class="center">Node Types</div>
      <div class="right"></div>
    </a>
    <a class="styledTabMenuButton"
       [routerLink]="['/relationshiptypes']"
       [class.selected]="this.router.isActive('relationshiptypes')">
      <div class="left"></div>
      <div class="center">Relationship</div>
      <div class="right"></div>
    </a>
    <a class="styledTabMenuButton"
       [routerLink]="['/other']"
       [class.selected]="this.router.isActive('other')">
      <div class="left"></div>
      <div class="center">Other Elements</div>
      <div class="right"></div>
    </a>
    <a class="styledTabMenuButton"
       [routerLink]="['/admin']"
       [class.selected]="this.router.isActive('admin')">
      <div class="left"></div>
      <div class="center">Administration</div>
      <div class="right"></div>
    </a>

  </nav>
</div>
