winery-debug.log
.classpath
/.gradle
.project
.settings/.jsdtscope
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
.settings/org.eclipse.wst.validation.prefs
/.sonar
/bin
/build
/conf/valesca.properties
sonar-project.properties
/src/main/resources/rebel*.xml
/src/main/webapp/components
/src/main/webapp/valesca.properties
/src/main/webapp/META-INF/MANIFEST.MF
/target
/node
/node_modules
