#URL for the topology modeler
#topologymodeler=http://opentosca-winery.appspot.com

#Warning to be displayed
warning = Development version ${project.version}

#BPMN4TOSCA Modeler URI
#default: nothing
#bpmn4toscamodelerBaseURI=

#############################################################################
# Repository Storage Configuration
#############################################################################


# Option A: plain file-based repository
# locally stored
#############################################################################

#use slashes
#repositoryPath=c:/winery-repository


# Option B: git based repository, based on Option A
# locally stored
#############################################################################
# first, configure Option A

#additionally:
#for http-based username/password authentification
#git.username=username
#git.password=password


# Option C: jclouds-based repository
#
# !! NOT SUPPORTED YET !!
#
# See http://www.jclouds.org/documentation/reference/supported-providers/
# for a list of supported providers
#############################################################################

#jclouds.context.provider=aws-s3
#jclouds.context.identity=OOV7VOHYFEE7AIGOKAEM9TAH
#jclouds.context.credential=iw4DoopGui4is4eze7Eeph4/aeYoo7re

# optional options
#jclouds.blobstore.location=US-EAST
#jclouds.blobstore.container=repository.winery
