

<div id="NTPropertiesView" class="propertiesView" style="display: block;">

  <div id="nodeTemplateInformationSection">

    <fieldset>
      <div class="form-group">
        <label for="nodetemplateid">Id</label>
        <input id="nodetemplateid" disabled="disabled" class="form-control">
      </div>
      <div class="form-group">
        <label for="nodetemplatename" class="control-label">Name</label>
        <input id="nodetemplatename" name="name" class="form-control">
      </div>
      <div class="form-group">
        <label for="nodetemplateType">Type</label>

        <a id="nodetemplateType" target="_blank" href="http://dev.winery.opentosca.org/winery/nodetypes/http%253A%252F%252Fopentosca.org%252Fnodetypes/Babel/" class="form-control">Babel</a>
      </div>


      <div class="form-group">
        <label for="minInstances">min</label>
        <div class="row">
          <div class="col-lg-10">
            <div class="input-sm">
              <div class="input-group bootstrap-touchspin"><span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span><input id="minInstances" value="" name="minInstances" onblur="minInstancesChanged();" class="form-control" style="display: block;" type="text"><span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span><span class="input-group-btn-vertical"><button class="btn btn-default bootstrap-touchspin-up" type="button"><i class="glyphicon glyphicon-chevron-up"></i></button><button class="btn btn-default bootstrap-touchspin-down" type="button"><i class="glyphicon glyphicon-chevron-down"></i></button></span></div>
            </div>
          </div>
        </div>
        <label for="minInstances">max</label>
        <div class="row">
          <div class="col-lg-10">
            <div class="input-sm">
              <div class="input-group bootstrap-touchspin"><span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span><input id="minInstances" value="" name="minInstances" onblur="minInstancesChanged();" class="form-control" style="display: block;" type="text"><span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span><span class="input-group-btn-vertical"><button class="btn btn-default bootstrap-touchspin-up" type="button"><i class="glyphicon glyphicon-chevron-up"></i></button><button class="btn btn-default bootstrap-touchspin-down" type="button"><i class="glyphicon glyphicon-chevron-down"></i></button></span></div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>
