<div [class.hidden]="!loading">
    <winery-loader></winery-loader>
</div>
<div *ngIf="!loading">
    <div class="form-group">
        <label class="control-label">Abstract</label>
        <select class="form-control" style="width: 100px" (change)="onAbstractChange($event.target.value)">
            <option [selected]="inheritanceData.isAbstract === 'yes'">yes</option>
            <option [selected]="inheritanceData.isAbstract === 'no'">no</option>
        </select>
    </div>
    <div class="form-group">
        <label class="control-label">Final</label>
        <select class="form-control" style="width: 100px" (change)="onFinalChange($event.target.value)">
            <option [selected]="inheritanceData.isFinal === 'yes'">yes</option>
            <option [selected]="inheritanceData.isFinal === 'no'">no</option>
        </select>
    </div>
    <div class="form-group">
        <label class="control-label">Derived from</label>
        <div>
            <select class="form-control" style="width:600px; display:inline; margin-right: 10px;" (change)="onDerivedFromChange($event.target.value)">
                <option>(none)</option>
                <option *ngFor="let item of inheritanceData.availableSuperClasses"
                        [selected]="inheritanceData?.derivedFrom === item.qName"
                        [value]="item.qName">
                    {{ item.name }}
                </option>
            </select>
            <button class="btn btn-info btn-sm">open</button>
        </div>
    </div>
    <button (click)="saveToServer()" class="btn btn-info btn-sm">save</button>
</div>
