name: Winery CI

on:
  push:
    branches:
      - main
    tags:
      - "v*.*.*"
  pull_request:

jobs:

  pre_job:
    continue-on-error: true
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
      docker_run_required: 'true'
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@master
  
  java11:
    needs: pre_job
    if: |
      needs.pre_job.outputs.should_skip != 'true'
      || needs.pre_job.outputs.docker_run_required == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Check if AbstractResourceTest does not cotain log().all().
        run: |
          if grep -i -q '\.all()' org.eclipse.winery.repository.rest/src/test/java/org/eclipse/winery/repository/rest/resources/AbstractResourceTest.java;
          then
            echo "Log output should be shortend. Use .ifValidationFails()!";
            exit 1;
          fi
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: 11
          cache: 'maven'
      - name: Build with Maven
        run: mvn -Pjava -B package
      - name: Upload binary to artifacts
        uses: actions/upload-artifact@v3
        if: ${{ needs.pre_job.outputs.docker_run_required == 'true' }}
        with:
          name: artifacts
          path: |
            **/winery.war
            **/winery-cli.jar
      - name: Run codacy-coverage-reporter
        if: ${{ github.repository_owner == 'OpenTOSCA' }}
        uses: codacy/codacy-coverage-reporter-action@master
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: org.eclipse.winery.reporting/target/site/jacoco-aggregate/jacoco.xml

  frontend:
    needs: pre_job
    if: |
      needs.pre_job.outputs.should_skip != 'true'
      || needs.pre_job.outputs.docker_run_required == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: 11
          cache: 'maven'
      - name: Build with Maven
        run: mvn -Pfrontend -B package
      - name: Upload binary to artifacts
        uses: actions/upload-artifact@v3
        if: ${{ needs.pre_job.outputs.docker_run_required == 'true' }}
        with:
          name: artifacts
          path: ${{ github.workspace }}/org.eclipse.winery.frontends/target/*.war

  dockerBuild:
    needs: [ java11, frontend ]
    runs-on: ubuntu-latest
    if: ${{ needs.pre_job.outputs.docker_run_required == 'true' }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v3
        with:
          name: artifacts
          path: ${{ github.workspace }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
        with:
          platforms: amd64,arm64,arm
      - name: Set variables
        id: vars
        run: |
          DOCKER_IMAGE=opentosca/winery
          VERSION=latest
          SHORTREF=${GITHUB_SHA::8}

          # If this is git tag, use the tag name
          if [[ $GITHUB_REF == refs/tags/* ]]; then
            VERSION=${GITHUB_REF#refs/tags/v}
          fi
          TAGS="${DOCKER_IMAGE}:${VERSION},${DOCKER_IMAGE}:${SHORTREF}"

          # Set output parameters.
          echo ::set-output name=tags::${TAGS}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}
      - name: Build and push latest Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile.noBuild
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.vars.outputs.tags }}
      - name: Build and push latest CLI Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile.cli
          platforms: linux/amd64,linux/arm64
          push: true
          tags: 'opentosca/winery-cli:latest'
